.btn-all {
  font-size: 2rem;
  padding: .5rem 1rem;
  margin: 0 auto 1rem;
  border-radius: .5rem;
  cursor: pointer;
  background: #7519d2;
  color: azure;
  flex: 1 1 auto;
  transition: all .2s;
  text-align: center;
  width: 25%;
}

.btn-all.disabled {
  opacity: .6;
  cursor: default;
}
